
@import'../../_assets/scss/_mixins/keyframes.scss';

$hex-size: 6em; // Only change size here. Best used with sizes from 5em - 10em.

.container {
    line-height: 1.3;
    width: 1000px;
}

.hex {
    background: #ccc;
    border-radius: 1em/.5em;
    float: left;
    height: ($hex-size * 1.7);
    margin: 1em auto;
    margin-right: ($hex-size / 1.30);
    transform: rotate(-90deg);
    transition: all 150ms ease-in-out;
    width: $hex-size;

    &:nth-child(odd) {
        margin-bottom: -3%;
        margin-top: -6%;
    }

    &:nth-child(even) {
        left: -4em;
        left: ($hex-size / 1.1);
        top: 0;
    }

    &:before,
    &:after {
        background: inherit;
        border-radius: inherit;
        content: '';
        height: inherit;
        position: absolute;
        width: inherit;
    }

    &:before {
        transform: rotate(60deg);
    }

    &:after {
        transform: rotate(-60deg);
    }

    &:hover {
        background: #f58787;
        cursor: pointer;
    }
}
