extends ../../index.jade

block head
    title Heaxagons
    link(href='hexagons-solid.css', rel='stylesheet', media='screen')
block content
    div.container
        each i in new Array(50)
            div.hex
