extends ../../index.jade
block head
    title Circles
    link(href='circles-line.css', rel='stylesheet', media='screen')
block content
    - for (var i=0; i<54; i++)
        div.circle
            div.ball
