extends ../../index.jade
block head
    title Iris
    link(href='inputs.css', rel='stylesheet', media='screen')
block content
    div.row
        a.button--primary(href="") Primary
        a.button--secondary(href="") Secondary
        a.button--info(href="") Info
        a.button--warning(href="") Warning
        a.button--error(href="") Error