
@import'../../_assets/scss/_mixins/keyframes.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.moire {
    background: #000;
    height: 100%;
    position: relative;
    width: 100%;

    &:before, 
    &:after {
        background-size: 200%;
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
    }

    &:before {
        background-image: repeating-radial-gradient(
            circle, 
            rgba(0, 0, 0, 0), 
            rgba(0, 0, 0, 0) 10px, 
            rgba(55, 225, 0, .5) 20px, 
            rgba(55, 255, 0, .5) 30px
        );
        @include animation('move 40s infinite alternate ease-in-out');
    }

    &:after {
        background-image: repeating-radial-gradient(
            circle, 
            rgba(0, 0, 0, 0), 
            rgba(0, 0, 0, 0) 10px, 
            rgba(55, 0, 225, .5) 20px, 
            rgba(55, 0, 255, .5) 30px
        );
        @include animation('move 70s infinite alternate-reverse ease-in-out');
    }
}

@include keyframes('move') {
    0% {
        background-position: 0% -50%;
    }

    15% {
        background-position: 60% 80%;
    }

    30% {
        background-position: 50% 40%;
    }

    40% {
        background-position: 70% 0%;
    }

    60% {
        background-position: -20% 40%;
    }

    80% {
        background-position: 80% 0%;
    }

    100% {
        background-position: 20% 30%;
    }
}
