doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='circles-within.css', rel='stylesheet', media='screen')
    body
        div.circle
            content#f0
                content#f9
                    content#f8
                        content#f7
                            content#f6
                                content#f5
                                    content#f4
                                        content#f3
                                            content#f2
                                                content#f1
