doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='hexagons.css', rel='stylesheet', media='screen')
    body
        div.container
            each i in new Array(500)
                hr
