
@import'../../_assets/scss/_mixins/keyframes.scss';

body,
html {
    background: #000;
}

.container {
    border: 4px solid #fff;
    border-radius: 100%;
    height: 779px;
    margin: 50px auto;
    overflow: hidden;
    width: 778px;
    @include animation('rotateBack 10s infinite linear');
}

hr {
    background: #000;
    border: 0;
    display: inline-block;
    height: 26px;
    margin: 13px 19px 0;
    position: relative;
    width: 4px;
    @include animation('rotate 10s infinite linear');
    @include transform-origin(2px -1.5px);

    &::before, 
    &::after {
        background: inherit;
        content: '';
        height: 30px;
        position: absolute;
        top: -23px;
        width: 4px;
    }

    &::before {
        left: -11px;
        transform: rotate(-60deg); // 60 + 60 = gives us the 120 degrees of hexagon.
    }

    &::after {
        right: -11px;
        transform: rotate(60deg);
    }

    &:nth-child(32n + 1) {
        margin-left: 42px;
    }
}




@include keyframes('rotate') {
    50% {
        background: #f06d06;
    }

    100% {
        background: #eb9b62;
        transform: rotate(90deg);
    }
}

@include keyframes('rotateBack') {
    0% {
        border-color: #f06d06;
    }

    100% {
        transform: rotate(-90deg);
    }
}
