extends ../../index.jade

block head
    title Hexagons
    link(href='hexagons.css', rel='stylesheet', media='screen')

block content
    div.container
        each i in new Array(500)
            hr
