extends ../../index.jade

block head
    title= pageTitle
    link(href='waves.css', rel='stylesheet', media='screen')
block content
    div.container
        each i in new Array(20)
            div.wave