
@import'../../_assets/scss/_mixins/keyframes.scss';

// fun to customize, guaranteed. act now.
$size: 500px;         // project size
$max-w: 10em;         // biggest wave
$min-w: .25em;        // smallest wave
$r: $max-w - $min-w;  // width range
$speed: 1500ms;       // wave speed
$f: 20;               // number of waves
$s-w: .1em;           // wave width
$c: #1abc9c;          // wave color

body {
    background: #2c3e50;
}

.container {
    font-size: ($size / ($max-w / 1em));
    height: $max-w / 2;
    overflow: hidden;
    position: relative;
    width: $max-w;
}

.wave {
    border-style: solid;
    border-width: $s-w;
    position: absolute;
    transform: rotate(-44.5deg);
    @include animation('wave ' + $speed + ' infinite alternate');
    $a: 1; // alpha
    @for $i from 1 through $f {
        &:nth-child(#{$i}) {
            $w: $max-w - (($r/$f) * $i);
            border-color: transparent transparent rgba($c, $a) rgba($c, $a);
            border-radius: $w;
            bottom: $w/-2;
            height: $w;
            left: ($max-w - $w) / 2;
            width: $w;
            @if $i > 1 { $a: 1 - ((1 / ($f+1)) * $i); }
            @include animation-delay($i * ($speed / $f));
        }
    }
}

@include keyframes('wave') {
    to {
        transform: rotate(135deg);
    }
}
