doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='squares-wavy.css', rel='stylesheet', media='screen')
    body
        div.content
            each i in new Array(45)
                div

