extends ../../index.jade

block head
    title= pageTitle
    link(href='rotate-circles.css', rel='stylesheet', media='screen')
block content
    div.circle
        h1.
            Circles.....
    div.content
        each i in new Array(36)
            div.ball

