doctype html
html(lang="en")
    head
        title= pageTitle
        link(href='rotate-circles.css', rel='stylesheet', media='screen')
    body
        div.circle
            h1.
                Circles.....
        div.content
        each i in new Array(36)
            div.ball

