doctype html
html(lang="en")
    head
        block head
            title Default Title
        link(href='/github/sass/build/_assets/bower/gumby/css/gumby.css', rel='stylesheet', media='screen')

        script(src="/github/sass/build/_assets/bower/gumby/js/libs/modernizr-2.6.2.min.js")
        script(src="/github/sass/build/_assets/bower/gumby/js/libs/jquery-2.0.2.min.js")
    body
        div.navbar.pretty(id="sassNav")
            <!-- Toggle for mobile navigation, targeting the <ul> -->
            a.toggle(gumby-trigger="#sassNav > ul", href="#")
                i.icon-menu
            h4.four.columns.logo
                a(href="#")
                    | Sass Animations
            ul.eight.columns
                li
                    a(href="#")
                        | Features
                li
                    a(href="#")
                        | The Animations
                    div.dropdown
                        ul
                            li
                                a(href="/github/sass/build/components/circles-within-circles/circles-within-circles.html")
                                    | Circles within Circles
                            li
                                a(href="/github/sass/build/components/hexagons/hexagons.html")
                                    | Hexagons
                            li
                                a(href="/github/sass/build/components/hexagons-solid/hexagons-solid.html")
                                    | Hexagons Solid
                            li
                                a(href="/github/sass/build/components/iris/iris.html")
                                    | Iris
                            li
                                a(href="/github/sass/build/components/moire/moire.html")
                                    | Moire
                            li
                                a(href="/github/sass/build/components/rotating-circle/rotating-circle.html")
                                    | Rotating Circle
                            li
                                a(href="/github/sass/build/components/squares-wavy/squares-wavy.html")
                                    | Squares Wavy
                            li
                                a(href="/github/sass/build/components/waves/waves.html")
                                    | Waves
                            li
                                a(href="/github/sass/build/components/inputs/inputs.html")
                                    | Inputs
                            li
                                a(href="/github/sass/build/components/circles-line/circles-line.html")
                                    | Circles on a line
                li
                    a(href="#")
                        | Customize


        block content

    script(src='/github/sass/build/_assets/bower/gumby/js/libs/gumby.min.js', type='text/javascript')
    script(src='/github/sass/build/_assets/bower/gumby/js/plugins.js', type='text/javascript')
    script(src='/github/sass/build/_assets/bower/gumby/js/main.js', type='text/javascript')